# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tauri v2
src-tauri/gen/

# Rust / Cargo
src-tauri/target/
target/
**/target/
**/*.rs.bk
*.pdb

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
